<section>
    <input class="js-input" type="text" placeholder="Escribe una serie...">
    <input class="js-button" type="submit" value="Buscar">
</section>
<div class="display">
    <section class="favouritesColumn">
        <h2>Series favoritas &#128525;</h2>
        <ul class="favList js-favList">
        </ul>
        <button class="btnRemoveAll">Vaciar</button>
    </section>
    <section class="resultsColumn">
        <h2>Resultados de tu búsqueda &#128270; &#128250;</h2>
        <ul class="resultsList js-resultsList">
        </ul>
    </section>
</div>